[Unit]
Description=Deluge Bittorrent Client Daemon
After=network-online.target

[Service]
UMask=002
User=debian-deluged
Group=media
Type=simple
ExecStart=/usr/bin/deluged --do-not-daemonize --config=/etc/deluge --ui-interface=10.7.11.1 --interface=10.7.12.1
TimeoutStopSec=300
Restart=on-failure

[Install]
WantedBy=multi-user.target