# managed by saltstack

##################### LOCALE ####################

org.eclipse.smarthome.core.localeprovider:language=en
org.eclipse.smarthome.core.localeprovider:region=US
org.eclipse.smarthome.core.localeprovider:location=Berlin
org.eclipse.smarthome.core.localeprovider:measurementSystem=SI
org.eclipse.smarthome.core.localeprovider:timezone=Europe/Berlin
org.eclipse.smarthome.core.localeprovider:location=52.520008,13.404954

# for translations
org.eclipse.smarthome.core.i18nprovider:language=en
org.eclipse.smarthome.core.i18nprovider:region=US
org.eclipse.smarthome.core.i18nprovider:measurementSystem=SI
org.eclipse.smarthome.core.i18nprovider:timezone=Europe/Berlin

################ PERSISTENCE ####################

org.eclipse.smarthome.persistence:default=jdbc

################### AUDIO #######################

org.eclipse.smarthome.audio:defaultSink=chromecast:audiogroup:all

##################### VOICE ####################

org.eclipse.smarthome.voice:defaultTTS=marytts

################ MISCELLANOUS ####################
 
autoapprove:enabled=false
org.eclipse.smarthome.links:autoLinks=true
org.eclipse.smarthome.network:primaryAddress = 10.7.11.1/24

org.eclipse.smarthome.threadpool:safeCall=8
org.eclipse.smarthome.threadpool:thingHandler=8
org.eclipse.smarthome.threadpool:discovery=8
org.eclipse.smarthome.threadpool:items=8
org.eclipse.smarthome.threadpool:ruleEngine=8