[Unit]
Description=Frontail

[Service]
ExecStart=/opt/frontail/node_modules/frontail/bin/frontail \
    --host 127.0.0.1 \
    --port 7001 \
    --url-path /frontail \
    --disable-usage-stats \
    --ui-hide-topbar \
    --ui-highlight \
    --ui-highlight-preset /opt/frontail/preset.json \
    -t default \
    /var/log/openhab2/openhab.log \
    /var/log/openhab2/events.log
Restart=always
User=openhab
Group=openhab
Environment=PATH=/usr/bin/
Environment=NODE_ENV=production
WorkingDirectory=/usr/bin/

[Install]
WantedBy=multi-user.target
Alias=frontail.service