# Defaults for smartmontools initscript (/etc/init.d/smartmontools)
# This is a POSIX shell fragment

# List of devices you want to explicitly enable S.M.A.R.T. for
# Not needed (and not recommended) if the device is monitored by smartd
#enable_smart="/dev/hda /dev/hdb"

#enable_smart="/dev/disk/by-id/ata-Samsung_SSD_850_EVO_500GB_S2RBNX0K150689K      /dev/disk/by-id/ata-WDC_WD120EDAZ-11F3RA0_5PKB2L4B /dev/disk/by-id/ata-WDC_WD120EMFZ-11A6JA0_QGH1X1HT /dev/disk/by-id/ata-WDC_WD40EZRX-22SPEB0_WD-WCC4E7VHSF95 -a  /dev/disk/by-id/ata-WDC_WD40EZRZ-00GXCB0_WD-WCC7K2ZAYFEP"


# uncomment to start smartd on system startup
#start_smartd=yes
smartd_opts="--interval=1800"
