/dev/disk/by-id/ata-Samsung_SSD_850_EVO_500GB_S2RBNX0K150689K      -a
/dev/disk/by-id/ata-WDC_WD120EDAZ-11F3RA0_5PKB2L4B                -a
/dev/disk/by-id/ata-WDC_WD120EMFZ-11A6JA0_QGH1X1HT -a
/dev/disk/by-id/ata-WDC_WD40EZRX-22SPEB0_WD-WCC4E7VHSF95 -a 
/dev/disk/by-id/ata-WDC_WD40EZRZ-00GXCB0_WD-WCC7K2ZAYFEP -a 

