# Managed by Saltstack

[core]
cache_dir = /var/cache/mopidy
config_dir = /etc/mopidy
data_dir = /var/lib/mopidy

[logging]
config_file = /etc/mopidy/logging.conf
debug_file = /var/log/mopidy/mopidy-debug.log

[local-sqlite]
enabled = true

[local]
enabled=true
media_dir = /srv/music
library = sqlite
scan_flush_threshold = 100
scan_timeout = 3000

[http]
enabled = true
hostname = 127.0.0.1

[m3u]
playlists_dir = /var/lib/mopidy/playlists

[gmusic]
username = {{ pillar.gmusicproxy.username }}
password = {{ pillar.gmusicproxy.password }}
deviceid = {{ pillar.gmusicproxy.deviceid }}
all_access = true
bitrate = 320
# Show radio stations in content browser
radio_stations_in_browse = true
# Show radio stations as playlists
radio_stations_as_playlists = true
# Limit the number of radio stations, unlimited if unset
radio_stations_count = 30
# Limit the number or tracks for each radio station
radio_tracks_count = 20

[iris]
country=DE
locale=en_GB

[audio]
mixer = none
output = pulsesink
#output = lamemp3enc ! shout2send mount=mopidy ip=127.0.0.1 port=8000 password=hackme