[Unit]
Description="Archive Video"
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=www-data
StandardOutput=inherit
StandardError=inherit
ExecStart=/usr/bin/ffmpeg \
    -hide_banner \
    -ss '00:00:00' \
    -i 'udp://239.0.0.1:1234' \
    -f segment \
    -segment_time 3600 \
    -segment_format mkv \
    -reset_timestamps 1 \
    -strftime 1 \
    -c:v copy \
    -an \
    -loglevel error \
    "/srv/video/netcams/archive/recordall/camera01-%%Y%%m%%d-%%H%%M%%S.mkv"

[Install]
WantedBy=multi-user.target
