[Unit]
Description="Archive Video"
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=www-data
StandardOutput=inherit
StandardError=inherit
ExecStart=/usr/bin/ffmpeg           \
    -hide_banner                    \
    -loglevel error                 \
    -rtsp_transport tcp             \
    -fflags +genpts                 \
    -i rtsp://{{ salt['pillar.get']('openhab:camera_media_username') }}:{{ salt['pillar.get']('openhab:camera_media_password') }}@camera01.imagilan:554/ISAPI/streaming/channels/101 \
    -map 0:0                        \
    -c copy                         \
    -vbsf hevc_mp4toannexb          \
    -reserve_index_space 50k        \
    -metadata title="camera01"      \
    -f segment                      \
        -segment_time 3600          \
        -segment_format hevc        \
    -strftime 1                     \
    "/srv/video/netcams/archive/recordall/camera01-%%Y%%m%%d-%%H%%M%%S.mkv"

[Install]
WantedBy=multi-user.target