[Unit]
Description="Record Video"
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=60
User=www-data
StandardOutput=inherit
StandardError=inherit
Environment="TZ=Europe/Berlin"
ExecStart=/bin/sh -c '              \
    ffmpeg                          \
    -hide_banner                    \
    -loglevel error                 \
    -nostdin                        \
    -nostats                        \
    -xerror                         \
    -stimeout 5000000               \
    -thread_queue_size 2048         \
    -reorder_queue_size 16000       \
    -rtsp_transport tcp             \
    -i rtsp://{{ salt['pillar.get']('openhab:camera_media_username') }}:{{ salt['pillar.get']('openhab:camera_media_password') }}@camera01.imagilan:554/ISAPI/streaming/channels/101 \
    -c:v copy -an -sn -dn           \
    -bsf:v hevc_metadata=tick_rate=1 \
    -f hevc -                       \
    |                               \
    ffmpeg                          \
    -hide_banner                    \
    -loglevel info                  \
    -nostats                        \
    -nostdin                        \
    -xerror                         \
    -f hevc                         \
    -i -                            \
    -c copy                         \
    -f segment                      \
        -segment_time 86400         \
        -segment_format matroska    \
        -reset_timestamps 1         \
    -strftime 1                     \
    "/srv/video/netcams/archive/recordall/camera01-%%Y%%m%%d-%%H%%M%%S.mkv" \
    '

[Install]
WantedBy=multi-user.target

# docs: 
# https://ipcamtalk.com/threads/fix-non-monotonous-dts-errors-in-ffmpeg.30465/#post-286226
# https://superuser.com/questions/1430756/ffmpeg-to-fix-video-playback-speed-without-re-encoding/1430914?noredirect=1#comment2159396_1430914
# https://superuser.com/questions/1431088/ffmpeg-to-get-an-hevc-rtsp-stream-into-an-mkv-container
# https://superuser.com/questions/1472242/ffmpeg-to-manually-set-a-file-duration/1473002#1473002
