[Unit]
Description="webcam-publisher"
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
User=www-data
StandardOutput=inherit
StandardError=inherit
ExecStart=/usr/bin/ffmpeg \
    -hide_banner \
    -loglevel error \
    -use_wallclock_as_timestamps 1 \
    -copyts \
    -fflags +genpts \
    -rtsp_transport tcp \
    -i rtsp://{{ salt['pillar.get']('openhab:camera_media_username') }}:{{ salt['pillar.get']('openhab:camera_media_password') }}@camera01.imagilan:554/ISAPI/streaming/channels/102 \
    -c:v copy \
    -an \
    -movflags +faststart \
    -f flv \
    rtmp://127.0.0.1:1935/camera01

[Install]
WantedBy=multi-user.target
